* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  padding: 20px;
  border-bottom: 1px solid #000;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  flex-grow: 1;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.name, .phone, .country {
  display: flex;
  gap: 16px;
  font-size: 24px;
}

#country {
  border: 1px solid black;
  height: 30px;
}

.message-input {
  width: 80%;
  height: 30vh;
}

.submit-button {
width: 10vw;
height: 30px;
border-radius: 10px;
border: none;
}

.navigation-list {
  display: flex;
  gap: 10px;
  font-size: 20px;
}

ul li {
  list-style: none;
}

.footer {
  padding: 20px;
  border-top: 1px solid #000;
}

.footer-list {
  display: flex;
  gap: 20px;
  font-size: 50px;
}

.footer-list-item-link {
  color: #000;
}
